<a href="https://colab.research.google.com/github/richwrather/data612/blob/main/DATA612_Assignment7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**Name: Richard Wrather**
###**Assignment 7**

In [1]:
import pandas as pd

# the mpg data is used for demonstration
df = pd.read_csv("https://raw.githubusercontent.com/franklin-univ-data-science/data/master/mpg.csv")
df.head()

    mpg  cylinders  displacement  acceleration  model  origin
0  18.0          8         307.0          12.0     70       1
1  15.0          8         350.0          11.5     70       1
2  18.0          8         318.0          11.0     70       1
3  16.0          8         304.0          12.0     70       1
4  17.0          8         302.0          10.5     70       1

In [2]:
def summarize_data(g):  
  return(
    pd.Series({
      "avg_MPG": g.mpg.mean(),
      "min_MPG": g.mpg.min(),
      "max_MPG": g.mpg.max(),
      "sample_count": len(g),
      "mix": g.cylinders.sum()/df.cylinders.sum(),
    })
  )

df.groupby("cylinders").apply(summarize_data)

             avg_MPG  min_MPG  max_MPG  sample_count       mix
cylinders
3          20.550000     18.0     23.7           4.0  0.005398
4          29.286765     18.0     46.6         207.0  0.372470
5          27.366667     20.3     36.4           3.0  0.006748
6          19.985714     15.0     38.0          84.0  0.226721
8          14.963107      9.0     26.6         108.0  0.388664

## Tasks   
  1. Read the `summarize_data()` and explain the difference between g and df.

  2. Select the measure and dimention variables from your dataframe, apply the `summarize_data()` and modify as needed based on your preferences.    

  3. Write 1-3 paragraphs to explain the differences or challenges when you applied the function to your chosen dataframe.

  4. Post your version of the above code on your GitHub account. Do not forget a README file with explanations.

###1. Read the `summarize_data()` and explain the difference between g and df.

"df" is the original flattened data set read in from github.  The data type is a Data Frame and nothing has been grouped.  "g" is the grouped version of the original data set, grouped by cylinders. The data type is a pandas.core.groupby.generic.DataFrameGroupBy.

###2. Select the measure and dimention variables from your dataframe, apply the `summarize_data()` and modify as needed based on your preferences.

In [3]:
import pandas as pd

# Read in the stocks_yahoo.csv dataset from the Franklin GitHub repo.
df = pd.read_csv("https://raw.githubusercontent.com/frankData612/data_612/master/stock_data/stocks_yahoo.csv")
df.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   no         date  ... Dividend Yield  1Y target est
0   1  Nov 21 2019  ...      N/A (N/A)        1487.52
1   2  Nov 21 2019  ...      N/A (N/A)        1459.33
2   3  Nov 21 2019  ...   6.48 (4.86%)         148.30
3   4  Nov 21 2019  ...   2.04 (1.36%)         160.16
4   5  Nov 21 2019  ...   3.08 (1.16%)         257.21

[5 rows x 19 columns]

In [4]:
def summarize_data(g):  
  return(
    pd.Series({
      "avg_price_at_close": g.price_at_close.mean(),
      "min_price_at_close": g.price_at_close.min(),
      "max_price_at_close": g.price_at_close.max(),
      "sample_count": len(g),
      "mix": g.price_at_close.sum()/df.price_at_close.sum(),
    })
  )

df.groupby("company_name").apply(summarize_data)

                                      avg_price_at_close  ...           mix
company_name                                              ...
A - Agilent Technologies, Inc.                 79.074615  ...  2.110004e-04
AAL -                                          16.040000  ...  5.487264e-07
AAL - American Airlines Group Inc.             20.505844  ...  5.401569e-05
AAP -                                         126.920000  ...  4.341918e-06
AAP - Advance Auto Parts, Inc.                127.387532  ...  3.355592e-04
...                                                  ...  ...           ...
ZS -                                           52.693333  ...  5.407897e-06
ZS - Zscaler, Inc.                             58.650500  ...  8.025706e-05
ZTS - Zoetis Inc.                             128.024889  ...  3.941744e-04
ZYNE -                                          4.163333  ...  4.272814e-07
ZYNE - Zynerba Pharmaceuticals, Inc.            4.222143  ...  6.066438e-06

[1486 rows x 5 columns]

###3. Write 1-3 paragraphs to explain the differences or challenges when you applied the function to your chosen dataframe.

There really were not any challenges when applying the summarize_data() function to my data set (stocks_yahoo).  I had to change the groupby to use "company_name" and the aggregation methods inside the summarize_data() function to run against the "price_at_close" column.  But everything else worked as expected.