<a href="https://colab.research.google.com/github/richwrather/data612/blob/main/DATA612_Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**Name: Richard Wrather**
###**Assignment 2**

In [1]:
# Read in the stocks_yahoo.csv dataset from the Franklin GitHub repo.
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/frankData612/data_612/master/stock_data/stocks_yahoo.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
# Print the first 5 records of the stocks_yahoo dataset.
df.head()

   no         date  ... Dividend Yield  1Y target est
0   1  Nov 21 2019  ...      N/A (N/A)        1487.52
1   2  Nov 21 2019  ...      N/A (N/A)        1459.33
2   3  Nov 21 2019  ...   6.48 (4.86%)         148.30
3   4  Nov 21 2019  ...   2.04 (1.36%)         160.16
4   5  Nov 21 2019  ...   3.08 (1.16%)         257.21

[5 rows x 19 columns]

In [3]:
# Print the information about the dataset including the data types
#   Notice that the 'date' field is of type 'object'.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67905 entries, 0 to 67904
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   no                 67905 non-null  int64
 1   date               67905 non-null  object
 2   company_name       67905 non-null  object
 3   price_at_close     67761 non-null  float64
 4   price_change       67761 non-null  object
 5   price_after_hours  67761 non-null  float64
 6   previous_close     67761 non-null  float64
 7   today opened       67750 non-null  float64
 8   price range        67756 non-null  object
 9   52 week range      67657 non-null  object
 10  volume             67752 non-null  object
 11  average volume     66584 non-null  float64
 12  market cap         67298 non-null  object
 13  beta (3Y Monthly)  63163 non-null  float64
 14  PE Ratio           60220 non-null  float64
 15  EPS                64962 non-null  float64
 16  earnings date      57611 non-null  object
 17  Dividend Yield     67625 non-null  object
 18  1Y target est      57931 non-null  float64
dtypes: float64(9), int64(1), object(9)
memory usage: 9.8+ MB

###1. Find the maximum date found in the dataset.

In [4]:
# Convert the 'date' field into a datetime64 type
entry_date = pd.to_datetime(df['date'], format='%b %d %Y')

print(entry_date)

0       2019-11-21
1       2019-11-21
2       2019-11-21
3       2019-11-21
4       2019-11-21
           ...
67900   2020-04-28
67901   2020-04-28
67902   2020-04-28
67903   2020-04-28
67904   2020-04-28
Name: date, Length: 67905, dtype: datetime64[ns]

In [5]:
# Find the most recent date by calling the max() function
max_entry_date = entry_date.max()

print(max_entry_date)

2020-04-28 00:00:00

###2. Subtract all the dates on the column from the maximum date

In [11]:
# Calculate the difference between the max month and the month in each record.
days_diff = max_entry_date - entry_date
days_diff

0       159 days
1       159 days
2       159 days
3       159 days
4       159 days
          ...
67900     0 days
67901     0 days
67902     0 days
67903     0 days
67904     0 days
Name: date, Length: 67905, dtype: timedelta64[ns]

###3. Convert the number of days into number of months.

In [12]:
# Convert the difference in days into the number of months by using the 
#   Numpy timedelta64() function.

import numpy as np

months = (max_entry_date - entry_date) / np.timedelta64(1, 'M')
months

0        5.223927
1        5.223927
2        5.223927
3        5.223927
4        5.223927
           ...
67900    0.000000
67901    0.000000
67902    0.000000
67903    0.000000
67904    0.000000
Name: date, Length: 67905, dtype: float64

###4. Save the result on a new column and add to the data set.

In [13]:
# Create a new column named 'months_diff' and write the number of months between 
#   the max date and the date for each record.
 
df['months_diff'] = months
df

          no         date  ... 1Y target est  months_diff
0          1  Nov 21 2019  ...       1487.52     5.223927
1          2  Nov 21 2019  ...       1459.33     5.223927
2          3  Nov 21 2019  ...        148.30     5.223927
3          4  Nov 21 2019  ...        160.16     5.223927
4          5  Nov 21 2019  ...        257.21     5.223927
...      ...          ...  ...           ...          ...
67900  67901  Apr 28 2020  ...         12.83     0.000000
67901  67902  Apr 28 2020  ...         33.33     0.000000
67902  67903  Apr 28 2020  ...         11.50     0.000000
67903  67904  Apr 28 2020  ...         67.67     0.000000
67904  67905  Apr 28 2020  ...         67.62     0.000000

[67905 rows x 20 columns]

###5. Save the dataset as a csv file.

In [14]:
# Write the new dataframe as a csv file.

df.to_csv('data612_stocks_yahoo.csv', index=False)

In [15]:
# Read the new csv file.

df2 = pd.read_csv('data612_stocks_yahoo.csv')
df2

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

          no         date  ... 1Y target est  months_diff
0          1  Nov 21 2019  ...       1487.52     5.223927
1          2  Nov 21 2019  ...       1459.33     5.223927
2          3  Nov 21 2019  ...        148.30     5.223927
3          4  Nov 21 2019  ...        160.16     5.223927
4          5  Nov 21 2019  ...        257.21     5.223927
...      ...          ...  ...           ...          ...
67900  67901  Apr 28 2020  ...         12.83     0.000000
67901  67902  Apr 28 2020  ...         33.33     0.000000
67902  67903  Apr 28 2020  ...         11.50     0.000000
67903  67904  Apr 28 2020  ...         67.67     0.000000
67904  67905  Apr 28 2020  ...         67.62     0.000000

[67905 rows x 20 columns]