<a href="https://colab.research.google.com/github/richwrather/data612/blob/main/DATA612_Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**Name: Richard Wrather**
###**Assignment 1**

Load the stocks_yahoo.csv dataset

In [1]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/frankData612/data_612/master/stock_data/stocks_yahoo.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Print the first 10 records

In [2]:
df.head(10)

   no         date  ... Dividend Yield  1Y target est
0   1  Nov 21 2019  ...      N/A (N/A)        1487.52
1   2  Nov 21 2019  ...      N/A (N/A)        1459.33
2   3  Nov 21 2019  ...   6.48 (4.86%)         148.30
3   4  Nov 21 2019  ...   2.04 (1.36%)         160.16
4   5  Nov 21 2019  ...   3.08 (1.16%)         257.21
5   6  Nov 21 2019  ...      N/A (N/A)        2183.86
6   7  Nov 21 2019  ...      N/A (N/A)            NaN
7   8  Nov 21 2019  ...   0.96 (1.70%)          56.27
8   9  Nov 21 2019  ...      N/A (N/A)          66.40
9  10  Nov 21 2019  ...   3.60 (2.78%)         123.71

[10 rows x 19 columns]

Print the last 10 records

In [3]:
df.tail(10)

          no         date  ... Dividend Yield  1Y target est
67895  67896  Apr 28 2020  ...      N/A (N/A)         137.25
67896  67897  Apr 28 2020  ...   0.64 (2.95%)          24.00
67897  67898  Apr 28 2020  ...   0.32 (1.21%)          34.13
67898  67899  Apr 28 2020  ...      N/A (N/A)          28.00
67899  67900  Apr 28 2020  ...      N/A (N/A)          66.75
67900  67901  Apr 28 2020  ...      N/A (N/A)          12.83
67901  67902  Apr 28 2020  ...   0.44 (1.49%)          33.33
67902  67903  Apr 28 2020  ...      N/A (N/A)          11.50
67903  67904  Apr 28 2020  ...      N/A (N/A)          67.67
67904  67905  Apr 28 2020  ...      N/A (N/A)          67.62

[10 rows x 19 columns]

Print the column names

In [4]:
df.columns

Index(['no', 'date', 'company_name', 'price_at_close', 'price_change',
       'price_after_hours', 'previous_close', 'today opened', 'price range',
       '52 week range', 'volume', 'average volume', 'market cap',
       'beta (3Y Monthly)', 'PE Ratio', 'EPS', 'earnings date',
       'Dividend Yield', '1Y target est'],
      dtype='object')

Print the type of the dataset

In [5]:
type(df)

pandas.core.frame.DataFrame

Print the number of rows and columns

In [6]:
df.shape

(67905, 19)

Use groupby() and find the mean of the price_at_close column

In [7]:
df.groupby('company_name')['price_at_close'].mean()

company_name
A - Agilent Technologies, Inc.           79.074615
AAL -                                    16.040000
AAL - American Airlines Group Inc.       20.505844
AAP -                                   126.920000
AAP - Advance Auto Parts, Inc.          127.387532
                                           ...
ZS -                                     52.693333
ZS - Zscaler, Inc.                       58.650500
ZTS - Zoetis Inc.                       128.024889
ZYNE -                                    4.163333
ZYNE - Zynerba Pharmaceuticals, Inc.      4.222143
Name: price_at_close, Length: 1486, dtype: float64